aside {
    height: 100vh;
    min-width: 296px;
}
.user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.aside-item {
    a {
        color: $dark;
    }
    a:hover {
        color: $primary;
    }
}
.small-font-size {
    font-size: 12px;
}
.height-special {
    height: 19px;
    margin-bottom: 0;
}
.collapseExample {
    position: absolute; 
    bottom: -205px;
    right: 48px;
    left: 721px;
}
.page {
    a:hover {
        background: $primary;
        color: white;
    }
}